<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
   

    <div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Itera sobre los elementos del carrito -->
            <% cartItems.forEach(item => { %>
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <!-- Imagen del producto -->
                                <img src="<%= item.img %>" alt="<%= item.name %>" class="img-fluid" />
                            </div>
                            <div class="col-md-8">
                                <!-- Detalles del producto -->
                                <h5 class="card-title"><%= item.name %></h5>
                                <h6 class="card-subtitle mb-2 text-muted">Tienda Oficial</h6>
                                <hr>
                                <!-- Precio del producto -->
                                <p class="card-text custom-message">$<%= item.price %></p>
                                <!-- Botón para eliminar el producto del carrito -->
                                <a href="#" class="btn btn-danger remove-from-cart" data-product-id="<%= item._id %>">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
        <div class="col-lg-4 mt-4 mt-lg-0">
            <!-- Sección de resumen de compra -->
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Resumen de Compra</h5>
                  <hr>
                  <% let total = 0; %>
                  <% cartItems.forEach(item => { %>
                      <% total += item.price; %>
                      <!-- Detalles de cada producto en el carrito -->
                      <div class="d-flex justify-content-between">
                          <p><%= item.name %></p>
                          <p>$<%= item.price.toFixed(2) %></p>
                      </div>
                  <% }); %>
                  <!-- Sección de envío -->
                  <div class="d-flex justify-content-between">
                      <p class="card-subtitle mb-2 text-body-secondary">Envío</p>
                      <p class="card-text">$10</p>
                  </div>
                  <!-- Sección de total, incluyendo el envío con dos decimales -->
                  <div class="d-flex justify-content-between">
                      <p class="card-subtitle mb-2 text-body-secondary">Total</p>
                      <% const totalWithShipping = (total + 10).toFixed(2); %>
                      <p class="card-text">$<%= totalWithShipping %></p>
                  </div>
                  <!-- Botón para comprar ahora -->
                  <a href="/formulario" class="btn btn-secondary mt-4">Comprar ahora</a>
              </div>
          </div>
        </div>
    </div>
</div>

  
  <!-- Script para manejar la eliminación de productos del carrito -->
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const removeButtons = document.querySelectorAll('.remove-from-cart');
  
      removeButtons.forEach(button => {
        button.addEventListener('click', async (event) => {
          event.preventDefault();
          const productId = button.dataset.productId;
  
          try {
            const response = await fetch(`/removeFromCart/${productId}`, {
              method: 'DELETE',
              headers: {
                'Content-Type': 'application/json',
              },
            });
            const data = await response.json();
            console.log(data);
  
            // Verifica si la eliminación fue exitosa antes de recargar la página
            if (response.ok) {
              // Recarga la página después de la eliminación exitosa
              window.location.reload();
            }  
          } catch (error) {
            console.error('Error al eliminar producto del carrito:', error);
          }
        });
      });
    });
  </script>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>