<%- include('./partials/header.ejs') %> 


<!-- HERO -->


<style>
    @media  (max-width: 767px){
        .media {
            text-align: center;
        }
        .chic{
            display: none;
        }
       
    }
</style>

<header class=" py-2">
           
        <div id="carouselExampleAutoplaying" style="z-index: -2;" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-evenly"
                        style="background-color: #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                        <div class="text">
                            <h2 class="mt-5 media">Aprovecha las ofertas</h2>
                            <h2 class="mt-4 media">Hasta un 50% de decuento</h2>
                            <div class="media">
                            <button class="btn btn-secondary mt-4 mb-4 media">Compre ahora</button>
                            </div>
                        </div>
                        <div >
                            <img class="chic"  src="../img/chica.png" class="img-fluid" alt="chica">
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-evenly"
                        style="background-color:  #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                        <div>
                            <h2 class="mt-5 media">Modelos Unicos</h2>
                            <h2 class="mt-4 media">Aprovecha los descuentos</h2>
                            <div class="media">
                                  <button class="btn btn-secondary mt-4">Compre ahora</button>
                            </div>
                          
                        </div>
                        <div >
                            <img class="chic"  src="../img/chica2.png" class="img-fluid" alt="chica">
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-evenly"
                        style="background-color:  #FBF0E4; border: 1px solid #FBF0E4; width: 80%;margin: auto; ">
                        <div>
                            <h2 class="mt-5 media">Hay un modelo para vos</h2>
                            <h2 class="mt-4 media">Diseños Exclusivos</h2>
                            <div class="media">
                            <button class="btn btn-secondary mt-4 mb-4 media">Compre ahora</button>
                            </div>
                        </div>
                        <div >
                            <img class="chic" src="../img/chica3.png" class="img-fluid" alt="chica">
                        </div>

                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </header>   
    
<!-- FIN HERO -->


<!-- SECCIÓN FILTRO -->

<section class="py-8 d-flex justify-content-center align-items-center">
    <div class="container-fluid px-lg-6 mt-6" style="width: 60%;">
        <nav class="navbar navbar-expand-lg mt-4">
            <div class="container px-4 px-lg-3" style="margin-left: 3.125rem;">
                <form action="/filtro" method="GET" class="d-flex align-items-center flex-wrap justify-content-center"> 

                    <label style="background: F3F4F6; color: black; margin-right: 10px;" for="keyword">Palabra clave:</label>
                    <input style="border-radius: 5px; margin-right: 20px; border-color: #ccc; " type="text" name="keyword" placeholder="Buscar por palabra clave">

                    <label style="background: F3F4F6; color: black; margin-right: 10px;" for="priceRange">Rango de precios:</label>
                    <select style="border-radius: 5px; margin-right: 20px; border-color: #ccc;" name="priceRange">
                        <option value="">Elegí el precio</option>
                        <option value="25">Entre $10 y $25</option>
                        <option value="50">Entre $25 y $50</option>
                        <option value="100">Entre $50 y $100</option>
                    </select>

                    <label style="background: F3F4F6; color: black; margin-right: 10px;" for="company">Marca:</label>
                    <select style="border-radius: 5px; margin-right: 20px; border-color: #ccc;" name="company">
                        <option value="">Elegí tu marca</option>
                        <option value="Noga">Noga</option>
                        <option value="Sony">Sony</option>
                        <option value="Bose">Bose</option>
                        <option value="Philips">Philips</option>
                        <option value="Sennheiser">Sennheiser</option>
                    </select>

                    <button class="btn btn-secondary ml-2" type="submit" style="width: 150px;">Buscar</button>  
                        
                </form>
            </div>    
        </nav>
    </div>
</section>

  
                        
<!-- FIN SECCIÓN FILTRO -->
   

<!-- CARD -->

<section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
                <% products.forEach(product=> { %>
                    <div class="col mb-4">
                        <div class="card custom-card">
                            <!-- Product image with background and shadow -->
                            <div class="image-container">
                                <img class="card-img-top" src="<%= product.img %>" alt="<%= product.name %>" />
                            </div>
                            <!-- Product details-->
                            <div class="card-body ">

                                <!-- Title with larger font size -->
                                <div class="miclase d-flex justify-content-between align-items-center ">
                                    <h5 class="fw-bolder" style="font-size: 1rem;">
                                        <a class="no_underline tamtyp" href="/product/<%= product._id %>">
                                            <%= product.name %>
                                        </a>
                                    </h5>
                                    <p class="fw-bolder tamtyp">
                                        <%= '$' + product.price %>
                                    </p>
                                </div>

                                <!-- Descripción del producto with smaller font size -->
                                <% if (product.description) { %>
                                    <p class="flex-fill tamdes">
                                        <%= product.description %>
                                    </p>
                                    <% } %>
                                        <!-- Estrellitas de rating verdes con el rating -->
                                        <div class="d-flex justify-content-start align-items-center text-success">
                                            <% for (let i=0; i < 5; i++) { %>
                                                <% if (i < Math.floor(product.rating)) { %>
                                                    <div class="bi-star-fill"></div>
                                                    <% } else if (i===Math.floor(product.rating) && (product.rating %
                                                        1)>= 0.5) { %>
                                                        <div class="bi-star-half"></div>
                                                        <% } else { %>
                                                            <div class="bi-star"></div>
                                                            <% } %>
                                                                <% } %>
                                                                    (<%= product.rating %>)
                                        </div>
                                        <!-- Botón -->
                                        <div class="text-start mt-3">
                                            <!-- Formulario con AJAX -->                                           
                                            <form class="addToCartForm" id="addToCartForm_<%= product._id %>">
                                                <input type="hidden" name="productId" value="<%= product._id %>">
                                                <button type="button"
                                                    class="addToCartButton btn btn-outline-dark mt-auto btn-add-cart"
                                                    data-product-id="<%= product._id %>">Agregar al Carrito</button>
                                            </form>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
           
            <!-- CARD -->

            <!-- PAGINACIÓN -->

            <div class="row" >

                
                <% if(pages> 0) { %> <!-- show pagination if there is pages -->
                    <nav class="mx-auto " >
                        <ul class="pagination" style="justify-content: center; ">
                            <!-- FIRST ITEM -->
                            <% if(current==1) { %>
                                <li class="page-item disabled" >
                                    <a class="page-link" href="#">First</a>
                                </li>
                                <% } else { %>
                                    <li class="page-item" >
                                        <a class="page-link" href="/products/1">First</a>
                                    </li>
                                    <% } %>

                                        <!-- ITEMS  -->
                                        <% var i=(Number(current)> 5 ? Number(current) - 4 : 1) %>
                                            <% if(i !==1) { %>
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="#">...</a>
                                                </li>
                                                <% } %>
                                                    <% for(; i <=(Number(current) + 4) && i <=pages; i++) { %>
                                                        <% if(i==current) { %>
                                                            <li class="page-item active">
                                                                <a class="page-link" href="<%= i %>">
                                                                    <%= i %>
                                                                </a>
                                                            </li>
                                                            <% } else { %>
                                                                <li class="page-item">
                                                                    <a class="page-link" href="/products/<%= i %>">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } %>
                                                                    <% if (i==Number(current) + 4 && i < pages) { %>
                                                                        <li class="page-item disabled">
                                                                            <a class="page-link" href="#">...</a>
                                                                        </li>
                                                                        <% } %>
                                                                            <% } %>

                                                                                <!-- LAST ITEM -->
                                                                                <% if(current==pages) { %>
                                                                                    <li class="page-item disabled">
                                                                                        <a class="page-link" href="#">
                                                                                            Last
                                                                                        </a>
                                                                                    </li>
                                                                                    <% } else { %>
                                                                                        <li class="page-item">
                                                                                            <a class="page-link"
                                                                                                href="/products/<%= pages %>">
                                                                                                Last
                                                                                            </a>
                                                                                        </li>
                                                                                        <% } %>
                        </ul>
                    </nav>
                    <% } %>

            </div>
        </div>

        <!-- PAGINADOR -->

       
     <!-- CARROUSEL -->

        <h1 class="text-center mt-4">Productos mas vendidos</h1>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <% let productsPerSlide = 4; %>
                <% for (let i = 0; i < products.length; i += productsPerSlide) { %>
                    <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
                        <div class="container px-4 px-lg-5 mt-5">
                            <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-4 justify-content-start">
                                <% for (let j = i; j < Math.min(i + productsPerSlide, products.length); j++) { %>
                                    <% const carouselProduct = products[j]; %>
                                    <div class="col mb-4">
                                        <div class="card custom-card">
                                            <!-- Product image with background and shadow -->
                                            <div class="image-container">
                                                <img class="card-img-top" src="<%= carouselProduct.img %>"
                                                    alt="<%= carouselProduct.name %>" />
                                            </div>
                                            <!-- Product details-->
                                            <div class="card-body">
                                                <!-- Title with larger font size -->
                                                <div class="miclase d-flex justify-content-between align-items-center">
                                                    <h5 class="fw-bolder" style="font-size: 1rem;">
                                                        <a class="no_underline tamtyp"
                                                            href="/main/<%= carouselProduct._id %>">
                                                            <%= carouselProduct.name %>
                                                        </a>
                                                    </h5>
                                                    <p class="fw-bolder tamtyp">
                                                        <%= '$' + carouselProduct.price %>
                                                    </p>
                                                </div>
                                                <!-- Descripción del producto with smaller font size -->
                                                <% if (carouselProduct.description) { %>
                                                    <p class="flex-fill tamdes">
                                                        <%= carouselProduct.description %>
                                                    </p>
                                                <% } %>
                                                <!-- Estrellitas de rating verdes con el rating -->
                                                <div
                                                    class="d-flex justify-content-start align-items-center text-success">
                                                    <% for (let k = 0; k < 5; k++) { %>
                                                        <% if (k < Math.floor(carouselProduct.rating)) { %>
                                                            <div class="bi-star-fill"></div>
                                                        <% } else if (k === Math.floor(carouselProduct.rating) && (carouselProduct.rating % 1) >= 0.5) { %>
                                                            <div class="bi-star-half"></div>
                                                        <% } else { %>
                                                            <div class="bi-star"></div>
                                                        <% } %>
                                                    <% } %>
                                                    (<%= carouselProduct.rating %>)
                                                </div>
                                                <!-- Botón -->
                                                <div class="text-start mt-3">
                                                    <!-- Formulario con AJAX -->
                                                    <form class="addToCartForm" id="addToCartForm_<%= carouselProduct._id %>">
                                                        <input type="hidden" name="productId"
                                                            value="<%= carouselProduct._id %>">
                                                        <button type="button"
                                                            class="addToCartButton btn btn-outline-dark mt-auto btn-add-cart"
                                                            data-product-id="<%= carouselProduct._id %>">Agregar al Carrito</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- FIN CARROUSEL -->



    <script>
        document.addEventListener('DOMContentLoaded', () => {
         const form = document.getElementById('priceSearchForm');
         
         form.querySelectorAll('button[data-min][data-max]').forEach(button => {
             button.addEventListener('click', () => {
                 form.querySelector('input[name="minPrice"]').value = button.dataset.min;
                 form.querySelector('input[name="maxPrice"]').value = button.dataset.max;
                 form.submit();
             });
         });
     });
     
     </script>
<!-- Script para manejar el envío del formulario con AJAX -->
<script>
    // Espera a que el DOM esté completamente cargado
    document.addEventListener("DOMContentLoaded", function () {
      // Obtén todos los botones con la clase 'addToCartButton'
      const addToCartButtons = document.querySelectorAll('.addToCartButton');
  
      // Itera sobre cada botón
      addToCartButtons.forEach(button => {
        // Agrega un evento de clic al botón
        button.addEventListener('click', function () {
          // Obtén el formulario actual asociado con el botón
          const currentForm = button.closest('form');
  
          // Obtén el valor del campo productId del formulario actual
          const productId = currentForm.querySelector('[name="productId"]').value;
  
          // Realiza una solicitud AJAX al servidor
          addToCart(productId);
        });
      });
    });
  
    async function addToCart(productId) {
      try {
        const response = await fetch(`/addToCart/${productId}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
        });
  
        const data = await response.json();
        console.log(data);
  
        // Puedes agregar lógica adicional aquí, como actualizar la UI si es necesario
  
      } catch (error) {
        console.error('Error al agregar producto al carrito:', error);
      }
    }
  </script>
  
    

    <%- include('./partials/footer.ejs') %> 
</body>


</html>